.square {
	background-color: #F7B538;
	margin: 1px;
	display: inline-block;
	float: left;
}

#container {
	background-color: #DB7C26;
	width: 800px;
	height: 800px;
}

.highlighted {
	background-color: #D8572A;
}

button {
	margin-bottom: 5px;
}